baseURL = 'https://vknabel.com/'
languageCode = 'en-us'
title = 'vknabel'
copyright = "© Valentin Knabel"
theme = 'archie'

[params]
mode = "auto"                                                                  # color-mode → light,dark,toggle or auto
useCDN = false                                                                 # don't use CDNs for fonts and icons, instead serve them locally.
subtitle = "Blog posts about programming languages, Swift, Go and more by me."
favicon = "/images/vknabel.jpg"
mainSections = ["posts"]
customCSS = ['/css/overrides.css']

[parms.author]
name = "Valentin Knabel"
email = "clarity_jogger219@ucmi.icu"

[sitemap]
changefreq = "weekly"
filename = "sitemap.xml"
priority = 0.5

# Social Tags

[[params.social]]
name = "GitHub"
icon = "github"
url = "https://github.com/vknabel"

[[params.social]]
name = "Mastodon"
icon = "at-sign"
url = "https://mastodon.social/@vknabel/"

# Main menu Items

[[menu.main]]
name = "blog"
url = "/"
weight = 1

[[menu.main]]
name = "tils"
url = "/tils"
weight = 2

[[menu.main]]
name = "about"
url = "/about"
weight = 3

[[menu.main]]
name = "tags"
url = "/tags"
weight = 4

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      linkifyProtocol = 'https'
      strikethrough = true
      table = true
      taskList = true
      [markup.goldmark.extensions.cjk]
        eastAsianLineBreaks = false
        eastAsianLineBreaksStyle = 'simple'
        enable = false
        escapedSpace = false
      [markup.goldmark.extensions.typographer]
        apostrophe = '&rsquo;'
        disable = false
        ellipsis = '&hellip;'
        emDash = '&mdash;'
        enDash = '&ndash;'
        leftAngleQuote = '&laquo;'
        leftDoubleQuote = '&ldquo;'
        leftSingleQuote = '&lsquo;'
        rightAngleQuote = '&raquo;'
        rightDoubleQuote = '&rdquo;'
        rightSingleQuote = '&rsquo;'
    [markup.goldmark.parser]
      autoHeadingID = true
      autoHeadingIDType = 'github'
      wrapStandAloneImageWithinParagraph = true
      [markup.goldmark.parser.attribute]
        block = true
        title = true
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = false
      xhtml = false

