{{ define "main" }} {{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">Today I learned</h1>

{{ end }} {{ $pages := .Data.Pages }} {{ $paginator := .Paginate (where $pages
"Params.hidden" "ne" true) }} {{ range $paginator.Pages }}
<section class="list-item">
  <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
  <time
    >{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }}
    <span class="draft-label">DRAFT</span> {{ end }}</time
  >
  <br />
  <section class="body">{{ .Content }}</section>
</section>
{{ end }} {{ template "partials/paginator.html" . }} {{ end }}
