@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  a {
    color: #f05138;
  }
  body {
    background-color: white;
    color: hsla(0, 0%, 0%, 0.8);
  }
  .custom-header a {
    color: hsla(0, 0%, 0%, 0.8);
  }
  .custom-header a.active-link {
    color: gray;
  }
  .article-head-title {
    color: hsla(0, 0%, 0%, 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #f05138;
  }
  body {
    background-color: black;
    color: hsla(0, 0%, 100%, 0.8);
  }
  .custom-header a {
    color: hsla(0, 0%, 100%, 0.8);
  }
  .custom-header a.active-link {
    color: gray;
  }
  .article-head-title {
    color: hsla(0, 0%, 100%, 0.8);
  }
}

a {
  text-decoration: none;
}

body code[class*='language-'] {
  word-wrap: break-word;
}

.custom-header {
  margin-bottom: 1.45rem;
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.custom-header p {
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;

  /* should look like h1 */
  font-size: 2em;
  margin: 0.67em 0;

  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

.custom-header a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 75%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
}
nav li {
  display: inline-block;
  margin: 0 20px 0 0;
}

.article-head-date {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 75%;
  letter-spacing: 1px;
}

.article-head-tags-item {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 75%;
  margin: 0 0 0 10px;
  text-transform: lowercase;
  letter-spacing: 1px;
}
